:root {
    --primary-shadow: #0077FF30;
    --primary-shadow-dark: #0077FF30;
}


body {
    overflow-x: hidden;
}

p {
    font-weight: 200;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
}

a {
    cursor: pointer;
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
}


.btn {
    font-weight: 100 !important;
    padding: 3px 25px !important;
    transition: 0.3s !important;
    border-radius: 100px !important;
}

.btn-x- {
    font-weight: 100 !important;
    padding: 3px 25px !important;
    transition: 0.3s !important;
    border-radius: 100px !important;
}

.btn-hover:hover {
    transform: translateY(-5px);
}

.btn-close {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 1.4rem;
    padding-top: 0;
    padding-bottom: 0;
}

.btn-primary {
    box-shadow: 0 8px 20px var(--primary-shadow) !important;
}

.btn-primary:hover {
    box-shadow: 0 15px 20px var(--primary-shadow-dark) !important;
}

.btn svg {
    margin-right:5px;
}

.text-weight-light {
    font-weight: lighter !important;
}

.custom-control-label {
    margin-left: 5px !important;
}

.text-large {
    font-size: 1.15em !important;
}

.line-height-larger {
    line-height: 1.8;
}