.slide-img img {
  height: available;
}

.slide-txt {
  margin-top: 15%;
  height: 50vh;
  display: block;
  font-size: 1.15rem;
}

.slideshow-container {
  position: absolute;
  top: 0;
  right:0;
  z-index: 1;
}

.logo-outline {
  width: 25%;
}