<!doctype html>
<html>
<head>
<meta charset="utf-8">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="./css/theme.css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400&display=swap" rel="stylesheet">
<link href="./css/font-awesome.min.css">
<link rel="stylesheet" href="./css/style.css">
<link rel="stylesheet" href="./css/signin-style.css">
<script src="./js/script.js"></script>
<script src="./js/signin-script.js"></script>

    
<title>XSITE</title>
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-expand">
        <a class="navbar-brand nav-item" href="#"><img class="navbar-logo" src="./img/logo.png"></a>
          <ul class="navbar-nav">
            <li class="nav-item"> <a href="#" class="btn btn-primary rounded-pill"> Courses </a> </li>
            <li class="nav-item"> <a href="#" class="btn btn-primary rounded-pill"> Popular </a> </li>
            <li class="nav-item"> <a href="#" class="btn btn-primary rounded-pill"> About X </a> </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"> <a href="#" class="btn btn-primary rounded-pill signin-signup-btn"> Signin / Signup </a> </li>
          </ul>
    </nav>
  </div>


  <div class="row justify-content-center">
    <div class="signin-signup-frame bg-primary rounded col-xl-3 col-lg-5 col-md-6 col-sm-8 h-75">
    <button type="button" class="btn btn-sm btn-close text-light"> &times; </button> 
      <div class="nav">
        <ul class="signin-nav-links">
          <li class="signin-signup-switch signin-signup-switch-active" id="signin-switch"><a class="btn">Sign in</a></li>
          <li class="signin-signup-switch signin-signup-switch-inactive" id="signup-switch"><a class="btn">Sign up </a></li>
        </ul>
      </div>
      
		<form class="form-signin px-5 pt-5" action="" method="post" name="form">
            <label for="username">Username</label>
            <input class="form-styling" type="text" name="username" placeholder=""/>
            
            <label for="password">Password</label>
            <input class="form-styling" type="password" name="password" placeholder=""/>
            <div class="text-center">
              <input type="checkbox" id="checkbox"/>
              <label for="checkbox" id="keepMeSignedIn">Keep me signed in</label>
                <a class="btn btn-primary text-white rounded-pill mt-3">Sign in</a>
                <a class="btn forget-password-btn mt-3" href="#">Forgot your password?</a>
            </div>
		</form>
        
		<form class="form-signup px-5 pt-4" action="" method="post" name="form">
          <label for="fullname">Full name</label>
          <input class="form-styling" type="text" name="fullname" placeholder=""/>
          
          <label for="email">Email</label>
          <input class="form-styling" type="text" name="email" placeholder=""/>
          
          <label for="password">Password</label>
          <input class="form-styling" type="password" name="password" placeholder=""/>

          <div class="text-center">
            <a class="btn btn-primary text-white rounded-pill mt-5">Sign Up</a>
          </div>
		 </form>
    </div>
    



    <div class="slideshow-container">
    <div id="slideshow-1" class="slideshow row">
      <div class="item-txt col-7">
        <div class="row justify-content-center">
          <div class="col-8 item-txt-content">
            <h2> Lorem Ipsum Dolor Sit Amet</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
              sed diam nonummy nibh euismod tincidunt ut laoreet dolore 
              magna aliquam erat volutpat. Ut wisi enim ad minim veniam, 
              quis nostrud exerci tation ullamcorper suscipit lobortis 
              nisl ut aliquip ex ea commodo consequat. Duis autem vel 
              eum iriure dolor in hendrerit in vulputate velit esse.
              molestie consequat, vel illum dolore eu feugiat nulla 
              facilisis at vero eros et accumsan et iusto odio dignissim.
            </p>
            <a href="#" slide-index="1" class="btn btn-secondary rounded-pill main-item-btn btn-next-slide"> Get Started </a></button>
          </div>
         </div>
      </div>
      <div class="item-img col-5"> </div>
    </div>

    <div id="slideshow-2" class="slideshow row">
      <div class="item-txt col-7">
        <div class="row justify-content-center">
          <div class="col-8 item-txt-content">
            <h2> Missingid Oido Otsui</h2>
            <p> Missingid oido otsui te nasmucca te sore orev ta sisilicaf              
              allun taiguef ue erolod mulli lev ,tauqesnoc eitselom              
             .esse tilev etatupluv ni tirerdneh ni rolod eruiri mue              
              lev metua siuD .tauqesnoc odommoc ae xe piuqila tu lsin              
              sitrobol tipicsus reprocmallu noitat icrexe durtson siuq              
              ,mainev minim da mine isiw tU .taptulov tare mauqila angam              
              erolod teeroal tu tnudicnit domsiue hbin ymmunon maid des              
             ,tile gnicsipida reutetcesnoc ,tema tis rolod muspi meroL           
             temA tiS roloD muspI meroL.
            </p>
            <a href="#" slide-index="2" class="btn btn-secondary rounded-pill main-item-btn btn-next-slide"> See Courses </a></button>
          </div>
         </div>
      </div>
      <div class="item-img col-5"> </div>
    </div>


    <div id="slideshow-3" class="slideshow row">
      <div class="item-txt col-7">
        <div class="row justify-content-center">
          <div class="col-8 item-txt-content">
            <h2> YOUR DEUTSCHES IPSUM</h2>
            <p> Deutsches Ipsum Dolor quo lucilius Stuttgart at,
               adhuc laboramus sadipscing per Aufenthaltsgenehmigung 
               in mei ullum gloriatur. Id Frau Professor recteque accommodare sed.
               Id nec Lebkuchen argumentum, te melius erroribus vix. Die unendliche
               Geschichte ut amet causae iriure, prodesset Die Ärzte mea ut.
            </p>
            <a href="#" slide-index="3" class="btn btn-secondary rounded-pill main-item-btn btn-next-slide"> See Courses </a></button>
          </div>
         </div>
      </div>
      <div class="item-img col-5"> </div>
    </div>
  </div>
</body>

</html>